@model List<Treseta.Models.Room>

<h2>GlavniIzbornik</h2>
<div>
    <button onclick="location.href='@Url.Action("Pravila", "Home", "")'">pravila</button>
    </div>
<div>
    <button onclick="location.href='@Url.Action("singlePlayer", "Home", "")'">Single Player</button>

</div>
<div>
    @foreach (var item in Model)
    {
        <p onclick="location.href='@Url.Action("Room", "Home",new { imeSobe = @item.imeSobe })'">@item.imeSobe</p>
    }
</div>
<div>
    <button onclick="location.href='@Url.Action("StvoriSobu", "Home", "")'">Stvori sobu</button>
</div>

