@model List<Treseta.Models.Room>

<h2>GlavniIzbornik</h2>
@ViewData["korisnik"]
<div>
    <button onclick="location.href='@Url.Action("Pravila", "Home", "")'">pravila</button>
</div>
<div>
    <button onclick="location.href='@Url.Action("singlePlayer", "Home", "")'">Single Player</button>

</div>
<div>
    @foreach (var item in Model)
    {
        <div>
            @if (item.brojIgraca < 4)
            {
                <label onclick="location.href='@Url.Action("Partija", "Home", new { imeSobe = @item.imeSobe, korisnickoIme = @ViewData["korisnik"] })'">@item.imeSobe - Igraca u sobi: @item.brojIgraca</label>
            }
        </div>
    }
</div>
<div>
    <button onclick="location.href='@Url.Action("StvoriSobu", "Home", "")'">Stvori sobu</button>
</div>

